[submodule "treesitter/vendor"]
	path = treesitter/vendor
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "example/vendor"]
	path = example/vendor
	url = https://github.com/tree-sitter/tree-sitter-python.git
